---
layout: page
---


<div class="isotope-grids">

  <div class="category-specific-content-grid">

    <div class="element-item running">
      <iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/12438555/activity-summary/ebd056501528d545bbe6932e7baeead6a758b539'></iframe>
    </div><!-- running -->
    <div class="element-item running">
      <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/12438555/latest-rides/ebd056501528d545bbe6932e7baeead6a758b539'></iframe>
    </div><!-- running -->

    {% include about.html %}

  </div>
  </div>

  <div class="grid" >

       {% for post in site.posts %}
          <div class="element-item {{ post.categories | first}}">

             <h2>
               <!--<a class="post-link" href="{{ post.url | prepend: site.baseurl }}" target="_blank">{{ post.title }} - {{ post.categories | first}}</a>-->
               <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" target="_blank">{{ post.title }}</a>
             </h2>
             <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

             {% if post.tags.size > 0 %}
             &#8226; <span class="post-meta__tags">on {% for tag in post.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
             {% endif %}

             {% capture words %}
               {{ post.content | number_of_words }}
             {% endcapture %}

             &#8226; <span class="post-meta__wordcount"> {{ words | append: " words" }} </span>

             <p>

               {% assign excerpt = post.content | split: '<!-- excerpt -->' %}
               {% assign excerpt_size = excerpt | size %}
               {% if excerpt_size != 1 %}
                  {{ excerpt[1] | markdownify | strip_html | truncate:50 }}
               {% else %}
                  {{ post.excerpt | truncate:50 }}
               {% endif %}

             </p>
          </div>
         {% endfor %}


  </div>
</div>
