<div class="element-item About">


    <img src="/assets/site-images/about.jpeg"/>

    <p>
        My name is jimmy. I like to do things, get better at those things, and drink beer afterwards.
    </p>

    <p>
        jimmy.fyi is a site about jimmy-things. Here, you can find blog posts, pictures, and links to prettier/smarter blog posts and pictures.
    </p>

    <p>
        I will try to be amusing without being too wordy, meaning posts of ~500 words. If you like what you see, you can follow me by fiding someone who looks like me and literally following them. Social Media and I are bad at each other.
    </p>

  </div><!-- ABOUT -->
