---
layout: post_layout
category:
published: false
excerpt_separator: <!--more-->  # you can specify your own separator, of course.
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      {% capture words %}
        {{ page.content | number_of_words }}
      {% endcapture %}

      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time>

      {% if page.tags.size > 0 %}
      &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
      {% endif %}

      &#8226; <span class="post-meta__wordcount"> {{ words | append: " words" }} </span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}

<!-- I'm already referencing jquery.min.js in footer
<script src="/js/jquery.min.js"></script>
-->
{% include lightbox.html %}
