<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include post_header.html %}

      <div class="grid" >

        <div class="element-item Last">
          <div class="content-wrapper">
            <div class="content-wrapper__inner">
              {{ content }}
            </div>
          </div>
        </div>

        {% assign page_category = page.categories | first %}
        {% for post in site.categories[page_category] %}

          {% for ptag in post.tags %}
            <div class="element-item {{ ptag }}">
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

              <h2>
               <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} - {{ post.categories | first}}</a>
              </h2>

              <p>
               {{ post.excerpt }}
              </p>
            </div>
          {% endfor %}
        {% endfor %}

      </div>

      {% include footer.html %}

  </body>

  <script>
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous">
  </script>

  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script>
  // init Isotope
  var $grid = $('.grid').isotope({
      filter: ".Last"
  });

  // filter items on button click
  $('.filter-button-group').on( 'click', 'a', function() {
    var filterValue = $(this).attr('data-filter');
    $grid.isotope({ filter: filterValue });
  });
  $('.button-group a.button').on('click', function(){
    $('.button-group a.button').removeClass('active');
    $(this).addClass('active');
  });
  </script>
  <style type="text/css">
    a.button.active {
      background: #2d539e;
      border: 1px solid #2d539e;
      color: #fff;
    }
    a.post-link {

      color: #2d539e;
    }
  </style>

</html>
